.mainHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 267px;
  background: rgba(4, 191, 148, 0.16);
  border-radius: 16px;
  margin-top: 48px;

  .mainBody {
    margin: 56px 0 56px 5%;
    width: 65%;
    .title {
      display: flex;
      font-family: 'Poppins';
      font-weight: 800;
      font-size: 32px;
      line-height: 48px;
      color: #04BF94;
    }

    .temperature {
      font-family: 'Poppins';
      font-weight: 700;
      font-size: 18px;
      line-height: 27px;
      display: flex;
      align-items: center;
      color: #242424;
    }

    .label {
      position: relative;

      .input {
        width: 60%;
        height: 56px;
        margin-top: 3.7%;
        border-radius: 12px;
        padding: 0 3%;
        border: none;
        &:focus {
          outline: none;
        }
      }

      ::placeholder {
        color: #91A0B6;
      }

      &::before {
        content: "";
        position: absolute;
        right: 16px;
        top: 5px;
        bottom: 0;
        width: 13px;
        height: 13px;
        background: url("../../../assets/magnifying-glass.svg");
      }
    }
  }
  .image{
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .mainHeader{
    display: none;
  }
  .mainHeaderMobile {
    display: flex;
    flex-direction: column;
    min-height: 190px;
    background: rgba(4, 191, 148, 0.16);
    border-radius: 16px;
    margin-top: 48px;
    padding: 16px;
    position: relative;

      .titleMobile {
        display: flex;
        font-family: 'Poppins';
        font-weight: 800;
        line-height: 36px;
        font-size: 24px;
        color: #04BF94;
      }

      .descriptionMobile {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        color: #242424;
        margin-top: 8px;
        .normal{
          font-weight: 500;
        }
      }

      .labelMobile {
        position: relative;
        width: 94.7%;

        .inputMobile {
          width: 100%;
          height: 40px;
          margin-top: 16px;
          border-radius: 12px;
          padding: 0 3%;
          border: none;

          &:focus {
            outline: none;
          }
        }

        ::placeholder {
          color: #91A0B6;
        }

        &::before {
          content: "";
          position: absolute;
          right: -2%;
          top: 50%;
          width: 16px;
          height: 16px;
          background: url("../../../assets/magnifying-glass.svg");
        }
      }
  }
}

@media (min-width: 768px) {
  .mainHeaderMobile {
    display: none;
  }
}