.topOfTheDay {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  margin-bottom: 16px;
  border-top: 1px #C4C4C4 solid;
  border-bottom: 1px #C4C4C4 solid;
  padding-top: 16px;
  padding-bottom: 56px;
  @media (max-width: 1120px) {
    margin-top: 23px;
    padding-bottom: 0;
    margin-bottom: 8px;
  }

  .title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #91A0B6;
    margin-bottom: 16px;
  }

  .container {
    display: flex;
    .box {
      display: inherit;
      width: 100%;
      @media (max-width: 1415px) {
        flex-direction: column;
      }
    }
  }
}